<div ng-class="{correct:correct,incorrect:incorrect}" class="container game-pad" >      
  <div class="countdown-timer">
    {{timeRemaining}}
  </div>
  <div class="row">
    <div  class="col-md-8 question-pad">
    
      <div class="row question-readout">
        {{question}}
      </div>
      <div ng-hide="timedout" class="row">
        <form ng-submit="doCheckAnswer()">
          <input type="string" ng-model="answer" class="form-control answer-box" autofocus>
          </input>            
        </form>
      </div>
      <div class="row number-pad">
        <div data-ng-keypad="numeric" data-ng-draggable class="numpad">
          <div class="button-wrapper">
            <button data-ng-key="1">1</button>
            <button data-ng-key="2">2</button>
            <button data-ng-key="3">3</button>
          </div>
          <div class="button-wrapper">
            <button data-ng-key="4">4</button>
            <button data-ng-key="5">5</button>
            <button data-ng-key="6">6</button>
          </div>
          <div class="button-wrapper">
            <button data-ng-key="7">7</button>
            <button data-ng-key="8">8</button>
            <button data-ng-key="9">9</button>
          </div>
          <div class="button-wrapper">
            <button data-ng-key="-">-</button>
            <button data-ng-key="0">0</button>
            <button data-ng-key=".">.</button>
          </div>
          <div class="button-wrapper">
            <button data-ng-key="C">C</button>
            <button data-ng-key="=">OK</button>
          </div>
        </div>
      </div>
    
    </div>
    <div class="col-md-4 leaderboard">

      {{score.correct}} | {{score.incorrect}}  ----- you
      <div ng-repeat="player in players">{{player.score.correct}} | {{player.score.incorrect}}  ----- {{player.name}}</dov>
    
    </div>
  
  </div>  
  
</div>