<style>
.distributionTable, th, td{
      border: 1px solid black;
    border-collapse: collapse;
}

.dataColumn{
  width:2em;
  text-align:center;
}

.checkedCell{
  background-color:#8CC63F;
  text-align:center;
  color: #ecf8fd;
}

.uncheckedCell{
  width  : 100%;
  height : 100%;
  background-color: #ecf8fd;
  color: #ecf8fd;
}

</style>
<h2>Mental Strategies</h2>
<table class="distributionTable">
  <tr>
    <th>topic</th>
    <th class="dataColumn" ng-repeat='weekNumber in weekNumbers'>{{weekNumber}}</th>
  </tr>
  <tr ng-repeat='row in mentalStrategiesDistributionGrid'>
    <td>{{row.topic.description}}</td><td class="dataColum" ng-repeat='cell in row.cells track by $index'><div class="checkedCell" ng-if="cell">X</div><div class="uncheckedCell" ng-if="cell==false"> .</div></td>
 </tr>
</table>

<h2>Key Skills</h2>
<table class="distributionTable">
  <tr>
    <th>topic</th>
    <th class="dataColumn" ng-repeat='weekNumber in weekNumbers'>{{weekNumber}}</th>
  </tr>
  <tr ng-repeat='row in keySkillsDistributionGrid'>
    <td>{{row.topic.description}}</td><td class="dataColum" ng-repeat='cell in row.cells track by $index'><div class="checkedCell" ng-if="cell">X</div><div class="uncheckedCell" ng-if="cell==false"> .</div></td>
 </tr>
</table>