
.header-bar{
display: none;
}
  #banner{
    display: none;
  }
  
  #worksheetToolbar{
    display: none;
  }
  
  table,th,tr,td{
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 1px;
    text-align: left;
  }

   
  body {
    font: 10pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
       
  }
  
  h1 {
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }   

  p {

    margin-top: 5px;
    margin-bottom: 5px;
  }
  aside h2 {
    font-size: 18pt;
  }
  
  .questionTable {
    border: 1px solid black;
    width: 100%;
  }
  
  .keySkillsTable {
    width: 100%;
  }

  .wrapperTable{

    border: none;
    width:100%;
    padding: 5px;
  }
  .wrapperTable>tbody>tr,.wrapperTable>tbody>tr>th,.wrapperTable>tbody>tr>td{
    border: none;
    padding: 5px;
  }

/*}*/ 


   .A4Landscape {	
     padding:30px; 
     background-color:white; 
     width:27.5cm; 
     height:21cm; 
     margin-left:auto; 
     margin-right:auto; box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75); 
   }

   .A4Portrait {	
     padding:30px; 
     background-color:white; 
     width:21cm; 
     height:27.5cm; 
     margin-left:auto; 
     margin-right:auto; box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75); 
   }

   .leftPage{
     width:50%;
     heigth:50%;
   }

   .rightPage{
     width:50%;
     heigth:50%;
   }

   .scoresTable{
     width:100%;     
     
   }
   
   .footer{
   page-break-after: always;
   }
   
   .scoresTable,.scoresTable>tbody>tr,.scoresTable>tbody>tr>th,.scoresTable>tbody>tr>td{
    border: none;
    
  }

   .scoreBox{
     font-size: 60pt;
     text-align:center;
   }

   .summaryOperator{
     font-size: 30pt;
     text-align:center;
   }

   .answerColumn{
     width: 25%;
   }

   .totalRow>td,.totalRow{
     text-align: right;
     padding: 10px;
   }