

@media print {
  .header-bar{
    display: none;
  }
  
  #banner{
    display: none;
  }
  
  #worksheetToolbar{
    display: none;
  }

  
}

.axis{
stroke : #777777;
stroke-width:1px;
}
.line{
stroke : #777777;
stroke-width:0.5px;
}

.letter>text{
stroke-width:0px;
stroke:white;
stroke-opacity:0.4;
font-weight:normal;
text-align:center;
text-anchor:middle;
}

.label{
text-align:center;
text-anchor:middle;
font-size:7pt;
}


.canvas {
  padding: 30px 20px;
  
}


.A4Portrait {	
   padding:30px; 
   background-color:white; 
   width:21.52385cm; 
   height:29.7cm; 
   margin-left:auto; 
   margin-right:auto; 
   box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75); 
   page-break-after: always;
   display: flex;
   flex-direction:column;
 }
 
 .spacer{
  flex: 1;
 }
body{
  font-family: Avenir, Nunito, Calibri, sans-serif; 
  font-weight: 300;  
}
.A4Portrait body {
    /*font: 10pt avenir, "Times New Roman", Times, serif;*/
    font-family: Avenir, Nunito, Calibri, sans-serif; 
    line-height: 2;
    letter-spacing: 1px;
 
    
   
  }
  
.A4Portrait table,.A4Portrait th,.A4Portrait tr,.A4Portrait td{
    border: 1px solid black;
    border-collapse: collapse;
  }

  
  
  .A4Portrait th,.A4Portrait td {
    padding: 5px;
    /*text-align: left;*/
  }

   
  
  
  h1 {
    font-size: 20pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 14pt;
    margin-top: 5px;
    margin-bottom: 5px;
  }   

  p {

    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .questionTable {
    border: 1px solid black;
    width:100%;
    font-size:14px;
    
  }
  
  .wrapperTable{

    border: none;
    width:100%;
    
  }
  
  

 .A4Landscape {	
   padding:30px; 
   background-color:white; 
   width:27.5cm; 
   height:21cm; 
   margin-left:auto; 
   margin-right:auto; box-shadow: 0px 0px 30px rgba(50, 50, 50, 0.75); 
 }

  .questionNumber{
    text-align: center;
  }
  
 .questionTableContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background: #ededed;*/
    display:flex;
    flex-direction:column;
    /*border: 1px solid black;*/
    
    
  }
  
  th{
    font-weight:400;
  }
  td{
    font-weight:300;
  }
  .wrapperTableRow{
    display:inline-flex;
  }
  
  .questionTableContainer.mentalStrategies{
    flex:30%;
    
    
  }
  .questionTableContainer.timesTable{
    flex:28%;
    padding-left:10;
    padding-right:10;
    
  }
  .questionTableContainer.keySkills{
    flex:42%;
        
  }

 .answer-postfix  {
  text-align: right;
 }
 
  .totalRow{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    
    
  }
  
  .timesTable .totalRow{
    margin-right: 1px;
  }  
    
  .mental-strategies-diagram{
    margin-right:40px;
    margin-top:20px;    
  }
  .mental-strategies-diagram>svg{
    width:100%;
  }
  
  
  .answerColumn{
    padding-left:10px;
  }
  
  .answerColumn, .totalBox{
    width:65px;    
  }
  
  
   .totalBox, .totalText{
    
    border:1px solid black;    
    border-top: none;
    
    border-bottom: 1px solid black;
    
  }
  .totalBox{
    border-right: 1px solid black;
    border-left: none;
  }
  .totalText{
    flex:1;
    text-align: right;
    padding-right:10px;
    padding-top: 0.7em;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-weight: 400;
    height: 3em;
    
    
  }

  .sheetHeading{
    font-size:12pt;
  }
  
  .sheetTitle{
    font-size:14pt;
  }

  .scoresTable{
     width:100%;     
     
   }
   
   .scoresTable,.scoresTable>tbody>tr,.scoresTable>tbody>tr>th,.scoresTable>tbody>tr>td{
    border: none;
    
  }

   .scoreBox{
     font-size: 60pt;
     text-align:center;
   }
/* Clock SVG */
.clock{
  stroke-width:4px;
  fill:none;
  stroke:red;
}
.hour-label{
  /*text-align:center;
  text-anchor:middle;*/
  font-size:10pt;
  fill:black;
  stroke:black;
  stroke-width:1px;
  

}
.hour-tick{
  stroke-width:1px;
  stroke:red;
  
}

.minute-hand{
  stroke:blue;
  stroke-width:2px;
}

.hour-hand{
  stroke:blue;
  stroke-width:5px;
}
.clock-box{
  stroke:#777777;
  stroke-width:1px;
  

}
.center{
  fill:red;
}