.header-bar{
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  color: white;
  padding-right:80px;
}

.header-bar a{
  color: white;
}
.canvas {
  padding: 30px 20px;
  
}

.question-preview{
  font-size:50pt;
}

.topic-preview-selection>option{
  font-size:35pt;
}
.topic-preview-selection{
  font-size:35pt;
}