.header-bar{
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  color: white;
  padding-right:80px;
}
.axis{
stroke : #777777;
stroke-width:1px;
}
.line{
stroke : #777777;
stroke-width:0.5px;
}

.letter>text{
stroke-width:0px;
stroke:white;
stroke-opacity:0.4;
font-family:avenir;
font-weight:normal;
text-align:center;
text-anchor:middle;
}

.label{
text-align:center;
text-anchor:middle;
font-family:avenir;
font-size:7pt;
}

.header-bar a{
  color: white;
}
.canvas {
  padding: 30px 20px;
  
}

.question-preview{
  font-size:50pt;
}

.topic-preview-selection>option{
  font-size:35pt;
}
.topic-preview-selection{
  font-size:35pt;
}

.question-preview-answer{
  font-size:40pt;
  height: 1.5em;
}
.question-preview-answer>.answer-space{
    border-style: solid;
    border-width: 5px;
    height:100%;
}

