<div>
  <div class="container">
    <div class="row">
      <div class="col-md6">    
        <select class="topic-preview-selection" id="topicDropDown" ng-model="selectedTopic" ng-options="topic.id as topic.description for topic in availableTopics"></select>
      </div>
    </div>
    <div class="row">
      <div class="col-md6">
        <div class="question-preview">{{question}}</div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md6">
        <div ng-if="hasDiagram" ng-bind-html="diagram"></div>
      </div>  
    </div>    
  </div>  
</div>