<div class="container">
  <div class="row">

    <div class="col-md-4">
      <a class="btn btn-lg btn-primary" href="#distribution" role="button">Preview distribution pattern</a>
      <p>Review how the topics are planned across the weeks.</p>

    </div>
    <div class="col-md-4">
      <a class="btn btn-lg btn-primary" href="#questionPreview" role="button">Preview questions</a>
      <p>Chose a topic and review the questions that are generated for that topic.</p>
    </div>
    <div class="col-md-4">      
      <a class="btn btn-lg btn-primary" href="#worksheet" role="button">Printable worksheets</a>
      <p>Generate a set of worksheets with an even distribution of randomly generated questions.</p>
    </div>
  </div>  
</div>