<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/mathQuestions/css/print.css" media="print"/>
  </head>
  <body class="A4Portrait">
    <page>
      <h1>Math Questions</h1>
      <h2>Year 7  Week 1  Session 1</h2>
      <p>Answer as many questions as you can in 5 mins.</p>
      <table class="wrapperTable">
        <tbody>
          <tr>
            <td>
              <p><b>Mental Strategies</b>- do these in your head</p>
              <table class="questionTable">
                <col>
                <col>
                <col class="answerColumn">
        
                <tr>
                  <th>Q</th>
                  <th>Question</th>
                  <th style="width:auto;">Answer Box</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>3 + &#9744; = 5</td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>8 + &#9744; = 13</td>
                  <td></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>11 + 4 = &#9744;</td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>9 +  9= &#9744;</td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>9 + &#9744; = 16</td>
                  <td></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>18 - 7 = &#9744;</td>
                  <td></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>3 + &#9744; = 5</td>
                  <td></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>4 + &#9744; = 9</td>
                  <td></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>9 + 7 = &#9744;</td>
                  <td></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>12 - &#9744; = 9</td>
                  <td></td>
                </tr>
                <tr class="totalRow">
                  <td></td>
                  <td><b>Total out of 10</b></td>
                  <td></td>
                </tr>
              </table>
            </td>
            <td>
              <p><b>Timestables</b>- do these in your head</p>
              <table class="questionTable">
                <col>
                <col>
                <col class="answerColumn">
                <tr>
                  <th>Q</th>
                  <th>Question</th>
                  <th>Answer Box</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>6 &#x00D7; 10</td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>4 &#x00D7; 8</td>
                  <td></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>6 &#x00D7; 9</td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>9 &#x00D7; 11</td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>2 &#x00D7; 8</td>
                  <td></td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>3 &#x00D7; 3</td>
                  <td></td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>2 &#x00D7; 9</td>
                  <td></td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>8 &#x00D7; 5</td>
                  <td></td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>5 &#x00D7; 12</td>
                  <td></td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>3 &#x00D7; 8</td>
                  <td></td>
                </tr>
                <tr class="totalRow">
                  <td></td>
                  <td><b>Total out of 10</b></td>
                  <td></td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
        
      <p><b>Key skills</b>- you may use written calculations for these questions</p>
      <table class="questionTable keySkillsTable">
        <tr>
          <th>Q</th>
          <th>Question</th>
          <th>Answer Box</th>
        </tr>
        <tr>
          <td>1</td>
          <td>34 &#x00D7; 28 </td>
          <td></td>
        </tr>
        <tr>
          <td>2</td>
          <td>8732 - 829</td>
          <td></td>
        </tr>
        <tr>
          <td>3</td>
          <td>2.3 &#x00D7; 12.1</td>
          <td></td>
        </tr>
        <tr>
          <td>4</td>
          <td>1/2 = &#9744;% </td>
          <td></td>
        </tr>
        <tr>
          <td>5</td>
          <td>12.47 + 3.8</td>
          <td></td>
        </tr>
        <tr>
          <td>6</td>
          <td>-15 &#x00F7; 3</td>
          <td></td>
        </tr>
        <tr>
          <td>7</td>
          <td>If a = 3 and b = 4, find the value of:<br>   2a + (b - 4)</td>
          <td></td>
        </tr>
        <tr>
          <td>8</td>
          <td>3 - -4</td>
          <td></td>
        </tr>
        <tr>
          <td>9</td>
          <td>List all the factors of 24</td>
          <td></td>
        </tr>
        <tr>
          <td>10</td>
          <td>What is the value of 6<sup>2</sup> ?</td>
          <td></td>
        </tr>
        <tr class="totalRow">
          <td></td>
          <td><b>Total out of 10</b></td>
          <td></td>
        </tr>
      </table>
      <br>
      <br>
      <table class="scoresTable">
        <tr>
          <th>What's your score?</th>
          <th>Mental Strategies</th>
          <th></th>
          <th>Timestables</th>
          <th></th>
          <th>Key Skills</th>
          <th></th>
          <th>Score</th>
        </tr>
        <tr>
          <td>Fill in your scores in the boxes <br> and calculate your score.</td>
          <td class="scoreBox">&#9744;</td>
          <td class="summaryOperator">+</td>
          <td class="scoreBox">&#9744;</td>
          <td class="summaryOperator">+</td>
          <td class="scoreBox">&#9744;</td>
          <td class="summaryOperator">=</td>
          <td class="scoreBox">&#9744;</td>
        </tr>
      </table>
    </page>  
  </body>
</html>