<div id="worksheetToolbar">
<button id="generateButton" ng-click="generate()">Generate</button>
</div>
<div>
  <div ng-repeat="week in weeks">
    <div class="A4Portrait" ng-repeat="sheet in week.worksheets">
      
      <div class="sheetHeading"><strong class="sheetTitle">WEEK {{week.number}} SESSION {{sheet.number}} -</strong> Answer as many questions as you can in 5 mins</div>
      <div class="wrapperTable">
      
      <div class="wrapperTableRow">        
          <div class="questionTableContainer mentalStrategies">
            <p><strong>MENTAL STRATEGIES - </strong><br>do these in your head</p>
            
            <table id="mentalStrategiesTable" class="mentalStrategiesTable questionTable">
              <col>
              <col>
              <col class="answerColumn">
      
              <tr>
                <th>Q</th>
                <th>Question</th>
                <th class="answerColumn">Answer</th>
              </tr>
              <tr class="questionRow" ng-repeat="question in sheet.mentalStrategies.questions">
                <td class="questionNumber"> {{question.number}}</td>
                <td>{{question.question}}</td>
                <td><div ng-if="includeAnswer">{{question.answers}}</div></td>
              </tr>                  
            </table>
            <div class="totalRow">
              <div class="totalText">Total out of {{sheet.mentalStrategies.questions.length}}</div>
              <div class="totalBox"></div>
            </div>
          </div>
        
      
          <div class="questionTableContainer timesTable">
            <p><strong>TIMESTABLES - </strong><br> do these in your head</p>
            
            <table class="timesTableTable questionTable">            

              <col>
              <col>
              <col class="answerColumn">
              <tr>
                <th>Q</th>
                <th>Question</th>
                <th class="answerColumn">Answer</th>
              </tr>
              <tr class="questionRow" ng-repeat="question in sheet.timesTable.questions">
                <td class="questionNumber">{{question.number}}</td>
                <td>{{question.question}}</td>
                <td class="answerColumn"><div ng-if="includeAnswer">{{question.answers}}</div></td>
              </tr>
            </table>
            <div class="totalRow">
              <div class="totalText">Total out of {{sheet.timesTable.questions.length}}</div>
              <div class="totalBox"></div>
            </div>                        
          </div>
        
      
          <div class="questionTableContainer keySkills">
            <p><strong>KEY SKILLS - </strong> you may use written calculations for these questions</p>
            <table class="questionTable keySkillsTable">
              <tr>
                <th>Q</th>
                <th>Question</th>
                <th class="answerColumn">Answer</th>
              </tr>
              <tr ng-repeat="question in sheet.keySkills.questions">
                <td>{{question.number}}</td>
                <td>{{question.question}}</td>
                <td class="answerColumn"><div ng-if="includeAnswer">{{question.answers}}</div></td>
              </tr>                          
            </table>
            <div class="totalRow">
              <div class="totalText">Total out of {{sheet.keySkills.questions.length}}</div>
              <div class="totalBox"></div>
            </div>                                                   
          </div>     
        </div>
      </div>
      <div class="spacer"></div>
      <table class="scoresTable">
        <tr>
          <th>What's your score?</th>
          <th>Mental Strategies</th>
          <th></th>
          <th>Timestables</th>
          <th></th>
          <th>Key Skills</th>
          <th></th>
          <th>Score</th>
        </tr>
        <tr>
          <td>Fill in your scores in the boxes <br> and calculate your score.</td>
          <td class="scoreBox">&#9744;</td>
          <td class="summaryOperator">+</td>
          <td class="scoreBox">&#9744;</td>
          <td class="summaryOperator">+</td>
          <td class="scoreBox">&#9744;</td>
          <td class="summaryOperator">=</td>
          <td class="scoreBox">&#9744;</td>
        </tr>
      </table>      
      <div class="footer">© Copyright 2015 William Emeny All Rights Reserved</div>            
    </div>
  </div>
</div>